* {
  font-family: Avenir, 'Trebuchet MS', sans-serif;
}

.wrapper {
  width: 90%;
  margin: 25px auto;
}

.bar {
  display: inline-block;
  width: 20px;
  height: 100px;
  border: 1px dashed gray;
  border-radius: 2px;
}
